
 <div class="insert insert-list-item">
    <div class="insert-cover">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporario">
    </div>
    <div class="insert-title-container">
        <h2 class="insert-title">Lorem ipsum dolor sit amet.</h2>
    </div>


    <div class="insert-author">
        <span class="insert-author-item">
            <i class="fas fa-user"></i>
            Danilo Ferreira
        </span>
        <span class="insert-author-item">
            <i class="fas fa-calendar-alt"></i>
            15/12/2022 às 22:00
        </span>
        <span class="insert-author-item">
            <a href="/insert/category/cafe-da-manha/">
                <i class="fas fa-layer-group"></i>
                <span>Processo Moove</span>
            </a>
        </span>
    </div>
    
    <div class="insert-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit quae omnis molestiae officiis autem nostrum.</p>
    </div>


    <div class="insert-meta-container">
        <div class="insert-meta recipe-preparation">
            <h3 class="insert-meta-title"><i class="fas fa-stopwatch"></i>Tempo Execução</h3>
            <div class="insert-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="insert-meta recipe-servings">
            <h3 class="insert-meta-title"><i class="fa-solid fa-gears"></i> Dificuldade</h3>
            <div class="insert-meta-text">
                Facil
            </div>
        </div>
    </div>


    <footer class="insert-footer">
        <a class="insert-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>